@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}

.h-9 {
  display: flex;
  width: 170px;
  height: 80px;
  margin-top: -10px;
  margin-bottom: -15px;

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

